<template>
  <v-container>
    <v-row align="center">
      <v-col cols="3" lg="1" md="2" sm="2" class="mr-2 d-flex justify-center">
        <v-avatar color="indigo" :size="defaultSize">
          <img :src="data.image" />
        </v-avatar>
      </v-col>
      <v-col cols="8" class="pa-0">
        <v-row>
          <v-col class="pa-0" cols="12">
            <p class="ma-0 title font-weight-bold titleText--text">{{data.title}}</p>
          </v-col>
          <v-col class="pa-0" cols="12">
            <p class="ma-0 desc--text subtitle-2">
              {{data.text}}
            </p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ArtistSimilar",
  props: {
    data: {
      type: Object,
    },
  },
  data() {
    return {
      defaultSize: 70
    };
  },
};
</script>
