<template>
  <v-app>
    <v-content>
      <v-row>
        <v-col cols="12">
          <p class="ma-0">В дизайне есть три вида. Чтобы использовать один из них в коде при передаче в компонент обьекта с данными, также передается "appearance (1,2 или 3)"</p>
        </v-col>
        <v-col cols="5" >
          <v-radio-group  @change="changeView()" hide-details v-model="data.appearance">
            <div class="justify-space-between d-flex flex-row">
              <v-radio active-class="active-cheeps" :value="1">
                <template v-slot:label>
                  <v-chip outlined class="ma-2">
                    1
                  </v-chip>
                </template>
              </v-radio>
              <v-radio active-class="active-cheeps" :value="2">
                <template v-slot:label>
                  <v-chip outlined class="ma-2">
                    2
                  </v-chip>
                </template>
              </v-radio>
              <v-radio active-class="active-cheeps" :value="3">
                <template v-slot:label>
                  <v-chip outlined class="ma-2">
                    3
                  </v-chip>
                </template>
              </v-radio>
            </div>
          </v-radio-group>
        </v-col>
      </v-row>

      <ActorList :data="data" />
    </v-content>
  </v-app>
</template>

<script>
import ActorList from "./components/ActorList";

export default {
  name: "App",

  components: {
    ActorList,
  },
  data: () => ({
    data: {
      title: "Главclub Green Concert",
      text: "Концертная площадка в Москве",
      description:
        "Концертная площадка с деревянной отделкой и удобными диванами, на которой выступают музыканты со всего мира. Источник: wikipedia.ru",
      appearance: 3,
      image: require("./assets/Lonee.png"),
      size: 130
    }
  })
};
</script>
